<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.mvit.kumps"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="InfoApp"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.mvit.kumps.Details"
            android:label="Details"
            android:logo="@drawable/icon" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.mvit.kumps.Info"
            android:label="Information" >
        </activity>
    </application>

</manifest>